@mixin background-image($backgroundImage) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: $backgroundImage;
}

@mixin vertical-line-height($top, $height) {
    &:after {
        content: "";
        height: $height;
        position: absolute;
        z-index: -1;
        top: $top;
        bottom: 0;
        left: 50%;
        border-left: 2px solid grey;
        transform: translate(-50%);
    }
}

@mixin home-about($text-align) {
    padding: 20px 50px;
    text-align: $text-align;
    h1 {
        padding: 20px;
    }
    p {
        padding: 0px 20px 0px;
    }
}