.home-hero {
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background-image: url("../../images/homeBanner.jpg");
    padding: 13em 0;
    margin: auto;
}

.home-hero:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
}

.home-hero p {
    color: white;
    font-size: 3em;
    text-align: center;
}

.home-hero button {
    color: white;
    font-size: 2em;
    text-align: center;
}