/* 1 */

.home-hero {
    @include background-image(url("../../images/homeBanner.jpg"));
    height: 100vh;
    margin: auto;
    p {
        font-size: 3em;
        color: white;
        position: relative;
    }
    img {
        height: 10em;
        width: 30em;
        margin-top: -25px;
        margin-bottom: -10px;
        position: relative;
    }
    button {
        color: white;
        font-size: 1.4em;
        position: relative;
        &:hover {
            color: white;
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }
}


/* 2 */

#section2 {
    position: absolute;
    transform: translateY(-50vh);
}

.home-info {}

.home-about {
    .home-about-info {}
    .home-about-image {
        img {
            margin-top: 20px;
            height: 83%;
            width: 220px;
        }
    }
}


/* 3 */

.home-nekolist {
    .home-nekolist-logo {}
    .home-nekolist-info {
        text-align: right;
        button {
            font-size: 1.15em;
            margin-right: 20px;
            &:hover {
                color: grey;
            }
        }
    }
}


/* 4 */

.home-anime-bg {
    @include background-image(url("../../images/homeAnime.jpg"));
    height: $contentHeight;
}


/* 5 */

.home-anime {
    height: $contentHeight;
}


/* 6 */

.home-manga-bg {
    @include background-image(url("../../images/homeManga.png"));
    height: $contentHeight;
}


/* 7 */

.home-manga {
    height: $contentHeight;
}


/* 8 */

.home-favorite-bg {
    @include background-image(url("../../images/homeFavorite.png"));
    height: $contentHeight;
}


/* 9 */

.home-favorite {
    height: $contentHeight;
}

.vertical-line-info {
    position: relative;
    text-align: center;
    @include vertical-line-height(20px,
    83%);
}

.vertical-line-favorite {
    position: relative;
    text-align: center;
    @include vertical-line-height(45px,
    80%);
}

.home-stats {
    height: $contentHeight;
}